@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Space Mono", monospace;
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0.5em 0;
}

p,
a,
button,
input,
textarea {
    font-family: 'Space Mono', monospace;
}